@import url('https://fonts.googleapis.com/css2? family = Karla: wght @ 400; 700 & display = swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

/* 
titulos
font-family: 'DM Serif Display', serif; 

primaria:
#2C2540
#94A8C5

natural:
#2B272F
#827D87
#F9F9F9

*/
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}
/* Menu */
.menu{
    max-width: 1112px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    display: inline-block;
    text-transform: uppercase;
}

li a{
    text-decoration: none;
    font-size: 0.8em;
    font-weight: bold;
    color: rgb(143, 143, 145);
    padding: 8px 16px;
    letter-spacing: 1px;

}

li a:hover{
    color: #2b282f;
}

 li:last-child a{
    color: #2b282f;
    border: 2px solid #2b282f ;
    letter-spacing: 2px;
}

li:last-child:hover a{
    color: #ffffff;
    background-color: #2b282f;
}

/*insurance*/
.insurance{
    
}

.insurance--bg{
    background-color: #2d2640;
    height: 600px;
    position: relative;
}

.insurance--bg::before{
    content: '';
    background: url(./images/bg-pattern-intro-right-desktop.svg) no-repeat;
    width: 392px;
    height: 593px;
    position: absolute;
    right: 0;
    transform: rotateX(34deg);
    top: -50px;
}

.insurance--bg::after{
    content: '';
    background: url(./images/bg-pattern-intro-left-desktop.svg) no-repeat;
    width: 198px;
    height: 504px;
    position: absolute;
    bottom: -332px;
}

.insurance{
    max-width: 1112px;
    display: flex;
    margin: 0 auto;
    padding-top: 100px;
}

.insurance__text{
    padding-right: 30px;
}

.insurance::before{
    content: "";
    background-color: #ffffff;
    width: 152px;
    height: 1px;
    position: absolute;
}

.insurance__text__h1{
    color: #ffffff;
    font-family: 'DM Serif Display', serif;
    font-weight: normal;
    font-size: 4em;
    margin-top: 72px;
    line-height: 1em;
    display: flex;
    flex-wrap: wrap;
}

.insurance__text__p{
    font-size: 1em;
    font-weight: 100;
    color: #ffffff;
    margin-top: 25px;
    line-height: 1.5em;
    letter-spacing: .01em;
}

.insurance__text__btn{
    margin-top: 2.5em;
    padding: 12px 20px;
    font-size: .9em;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid #fff;
    background-color: #2d2640;
}

.insurance__text__btn:hover{
    background-color: #ffffff;
    color: #2d2640;
    font-weight: bold;
}

.insurance__img img{
    display: block;
    height: 100%;
}