/* refaturar css separando em componentes */
@import url('https://fonts.googleapis.com/css2? family = Karla: wght @ 400; 700 & display = swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

:root{
    --color_Very_Light_Gray: #fafafa;
    --color_Gray: #8f8f91;
    --color_Dark_Grayish_Violet: #837d87;
    --color_Grayish_Blue: #95a9c6;
    --color_Dark_Violet: #2c2640;
    --color_Dark_Violet_T: #2c2640a2;
    --color_Very_Dark_Violet: #2b272f;
    --content: 1112px;
    --space: 20px;
    --size: 1em;
    --size_title: 4em;
    --fonte-text: 'Karla', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.menu__icons{
    display: none;
}

.header,
.main{
    margin: 0 auto;
    max-width: var(--content);
    font-family: var(--fonte-text);
    font-size: 16px;
}
/* menu */
.menu{
    display: flex;
    justify-content: space-between;
}

.menu__list{
    align-items: center;
    display: flex;
    font-size: var(--size);
    list-style: none;
}

/* c-btn */
.menu__link{
    color: var(--color_Gray);
    display: inline-block;
    font-family: var(--fonte-text);
    font-size: calc(var(--size) / 1.1);
    font-weight: bold;
    letter-spacing: 2px;
    padding: var(--space);
    text-transform: uppercase;
    text-decoration: none;
}

/* medifier */
.menu__link--padding{
    padding-left: 0;
}

.menu__link--skin{
    border: 2px solid var(--color_Dark_Violet);
    color: var(--color_Dark_Violet);
    padding: calc(var(--space) / 3) var(--space);
}

.menu__link:hover{
    color: var(--color_Dark_Violet);
}

.menu__link--skin:hover{
    color: var(--color_Very_Light_Gray);
    background-color: var(--color_Dark_Violet);
}

/* insurance */

.insurance{
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 1116px) and (min-width: 720px){
    .header,
    .main{
        padding: 0 var(--space);
    }

    .menu__link{
        font-size: calc(var(--size) / 1.19);
    }
}

@media only screen and (max-width: 719px) and (min-width: 480px){
    .menu__icons{
        display: flex;
        align-items: center;
    }
    
    .menu__close,
    .menu__open{
        display: block;
        width: 32px;
        height: 32px;
    }

    .menu__close{
        display: none;
    }

    .menu__list{
        display: none;
    }

    .header,
    .main{
        padding: 0 var(--space);
    }
}

@media only screen and (max-width: 479px) and (min-width: 320px){
    .menu__icons{
        display: flex;
        align-items: center;
    }
    
    .menu__close,
    .menu__open{
        display: block;
        width: 32px;
        height: 32px;
    }

    .menu__close{
        display: none;
    }
    
    .menu__list{
        display: none;
    }
    .header{
        padding: 0 var(--space);
    }
}